*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #158ece;
}

/*  NAV  */


body .back{
    position: fixed;
    width: 50px;
    height: 30px;
    top: 20px;
    left: 20px;
}

.aLink{
    display: block;
    width: 100%;
    height: 100%;
}

.back img{
    width: 80%;
    height: 80%;    
}


/*Header to wszystko zpina*/



header{
    background-image: url(../image/background\ 1280x719.png);
    background-repeat: no-repeat;
    background-size: cover;   
    width: 100%;
    height: 100%;
    padding: 5rem 3rem 3rem 3rem;
    
    position: relative;
}

.main{
    width: 100%;
    height: 100%;
    box-shadow:0px 0px 50px 0px#008c73;
    border-radius: 15px;
}


/*text in main*/

.main .hello {
    padding-top: 2rem;
    padding-left: 4rem;
}

.main .hello h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.main .hello p{
    font-size: 2rem;
}

.main .logo{    
    height: 10rem;
    width: 20rem;
    margin: 5rem auto;
}

.main .logo img{
    width: 100%;
    height: 100%;
}

.main .aboutMe .text{
    width: 100%;
    
}

.main .aboutMe .text h2{
    font-size: 2.0rem;
    padding-right: 1rem ;
    padding-left: 0.5rem;
    color: #34DE0B;
    background-color: #000;    
} 

.main .aboutMe .text p{
    display: inline-block;
    width: 70%;
    height: 70%;
    padding-right: 1rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 8rem;
    margin-top: 5rem;
    margin-bottom: 5rem;  
}


/*W wolnym czasie*/

.aboutMe h3{
    font-size: 2rem;
    text-align: right;
    padding-right: 1rem ;
    padding-left: 0.5rem;
    color: #34DE0B;
    background-color: #000;
    margin: 4rem 0;
}


.aboutMe{
    overflow: hidden;
}

.aboutMe .image{
    display: grid;

    width: 100vw;
    height: 150vh;    
    
    grid-template-columns: 1fr 1fr 1fr 1.8fr;
    grid-template-rows: 20% 20% 20% 20% 20vh;
    grid-template-areas: 'yacht yacht basket . '
    'yacht yacht basket book'
    'yacht yacht swim book'
    'yacht yacht  swim .'
    '. it it .'
    '. it it .';    

}

.aboutMe .image .yacht{
    grid-area: yacht;
    width: 100%;
    height: 100%;
}

.aboutMe .image .book{
    grid-area: book;
    width: 80%;
    height: 80%;
}

.aboutMe .image .basket{
    grid-area: basket;
    width: 100%;
    height: 100%;
}

.aboutMe .image .swim{
    grid-area: swim;
    width: 100%;
    height: 100%;
}

.aboutMe .image .it{
    grid-area: it;
    width: 100%;
    height: 100%;
}

footer{
    display: flexbox;
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding-left: 1rem;
}

footer h3 {
    margin-right: 1rem;
}

footer .autor{
    display: inline-block;
    padding-left: 1rem;
}

@media(max-width:500px) {
    .main .hello {
        padding-left: 0.7rem;      
    }
    
   .main .hello p{
        font-size: 1.8rem;


    }  
    
    .main .logo img{
        width: 80%;
        margin: 0 auto;
    }
    .main .aboutMe .text{
        width: 100%;
       
    }
    .main .aboutMe .text p{    
        width: 100%;    
        font-size: 1.5rem;
        text-align: center;
        margin-left: 0.1rem;    
    } 

    .aboutMe .image{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }
}
@media (max-width:411px){
    .main .hello {
        padding-left: 0.7rem;      
    }
    .main .hello h2{
        font-size: 2.5rem;
    }
    
   .main .hello p {
        font-size: 1.38rem;
    }  
    
    .main .logo img{
        width: 70%;
        margin: 0 auto;
    }
    .main .aboutMe .text{
        width: 100%;
        
    }
    .main .aboutMe .text p{    
        width: 100%;    
        font-size: 1.38rem;
        text-align: center;
        margin-left: 0.1rem;    
    } 

    .aboutMe .image{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }
}