
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: rgba(0, 0, 0, 1); 
    font-family: 'Roboto Mono', monospace;
    padding: 42px;    
    z-index: -2; 
    max-width: 1500px; 
    margin: 0 auto;  
          
}


/*Nav Hamburger*/
/* w menu.css */

/*RABAT*/

.figures{
    position: relative;
    
    
}
.square, .circle{
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 1;

}
.square{
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 0,0.75);
    animation: square 20s linear infinite;
}
.square a{
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.circle{
    right: 0;
    bottom: 0;    
    background-color: rgba(0, 255, 0,0.75);
    border-radius: 50%;
    animation: circle 20s infinite;
}
.circle a{
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.square:hover, .circle:hover{
    animation-play-state: paused;
}


@keyframes square{
    0%{
        top: 0;
        left: 0;       
    }
    25%{
        top: 0;
        left:88vw;
    }
    50%{
        top:92.6vh;
        left:88vw;
    }
    75%{
        top: 92.6vh;
        left: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}
@keyframes circle{
    0%{
        bottom: 0;
        right: 0;       
    }
    25%{
        bottom: 0;
        right:88vw;
    }
    50%{
        bottom:93vh;
        right:88vw;
    }
    75%{
        bottom: 93.0vh;
        right: 0;
    }
    100%{
        bottom: 0;
        right: 0;
    }
}


@media (orientation: portrait) and (min-width:411px){
    @keyframes square{
        0%{
            top: 0;
            left: 0;       
        }
        25%{
            top: 0;
            left:90vw;
        }
        50%{
            top:94vh;
            left:90vw;
        }
        75%{
            top: 94vh;
            left: 0;
        }
        100%{
            top: 0;
            left: 0;
        }
    }
    @keyframes circle{
        0%{
            bottom: 0;
            right: 0;       
        }
        25%{
            bottom: 0;
            right:90vw;
        }
        50%{
            bottom:95vh;
            right:90vw;
        }
        75%{
            bottom: 95vh;
            right: 0;
        }
        100%{
            bottom: 0;
            right: 0;
        }
    }
}



/*header*/
header{
    height: 30%;
    background-color: #3DCC29;
    

}

header .slogans > h2{
    /* font-size: 1.3rem; */
    padding-top: 1.2rem;
    padding-bottom: 0.8rem;
    text-align: left;
}


/*Main*/
.main{
    height: 14vh;
    background-color:rgba(203, 152, 21, 0.9);
    
}
.main h2{
    text-align: right;
    padding-top: 0.4rem;
}

/*Aside*/
aside{
    height: 57%;
    background-color: rgba(255,0,0,0.5);
}

aside .way {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: 30px 7.3em 30px;
    grid-template-areas: 
    'korsarz korsarz right'
    'left strony right'
    'left strony www';

}
aside .way .road{
    height: 100%;
    width: 100%;
    line-height: 30px;
}

aside .way .korsarz{
    background-color: green;
    grid-area: korsarz;
}
aside .way .korsarz > p{    
     display: inline-block;
    font-size: 1.2rem; 
}

aside .way .strony{
    background-color: yellow;
    grid-area: strony;
    padding-top: 5.8vh;
     
}

aside .way .strony p{    
    /* display: block; */
    transform: rotate(90deg);
    font-size: 1.5rem;   
    
}

aside .way .www{
    background-color: limegreen;
    grid-area: www;
    padding-left: 9vw;
}
aside .way .www p{
    
    font-size: 1.5rem; 
}

aside .way .right{
    grid-area: right;
    background-color: rgb(89, 75, 222);
    padding-top: 2rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    text-transform: uppercase;
    text-align: center;
} 

aside .way .left{
    position: relative;
    grid-area: left;
    background-color: rgb(17, 143, 101);
    text-transform: uppercase;
    padding-top: 1rem;
    
} 


aside .way .left .rotate{
    transform: rotate(90deg);
    position: absolute;
    bottom: 4rem;
    right: -3rem;
}
aside .way .left .down{
    position: absolute;
    bottom: 1rem;
    left: 0.2rem;
}
aside .grab{
    position: relative;
    height: 99%;
    padding-top: 1.3rem;
    /* line-height: 2rem; */
    margin-bottom: 2rem;
    padding-bottom: 1rem;   
    
}

aside .grab::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 0);
}

aside .grab::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
}


aside .grab h2{
    text-align: center;
    color: white;
    line-height: 2rem;
}


#big .baner{ 
    height: 18vh;    
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-image: url(../image/Żółte\ Pola\ Moda\ Logo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; 
    
}
/*Section text*/

#text {
    height: 100%;
    /* background-image: url(../image/motto.jpg); */
    /* background-repeat: no-repeat;    
    background-size: cover;
    background-attachment: fixed; 
    background-position: center center; */
    margin-top: 2rem;   
    
}

#text .need, #text .want {
    background-color: rgba(20, 83, 164, 1);
}

#text .need h3, #text .want h3{
    text-align: right;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 1rem 1rem 1rem;
    border-bottom: 2px solid #594BDE;
    text-shadow:1px 1px 2px rgba(253, 205, 1, 0.5) ;
}

#text .need p, #text .want p{
    display: inline-block;
    /* background-color: rgba(0, 63, 114, 0.5); */
    line-height: 1.5rem;
    font-size: 1.25rem;
    padding: 0 1.5rem;
    text-align: right;
}
#text .want span{
    display: inline-block;
    text-align: left;
}

/*footer*/

footer{
    height: 100%;
    line-height: 24px;
    color: white;
    text-align: left;
    font-size: 15px;
    padding: 8px 0;  
} 

@media (orientation: portrait) and (min-width: 768px){

    body{
        padding: 60px;   
    }
        
   
    .square, .circle{        
        width: 59px;
        height: 59px;        
    }    
    @keyframes square{
        0%{
            top: 0;
            left: 0;       
        }
        25%{
            top: 0;
            left:93vw;
        }
        50%{
            top:94vh;
            left:93vw;
        }
        75%{
            top: 94vh;
            left: 0;
        }
        100%{
            top: 0;
            left: 0;
        }
    }
    @keyframes circle{
        0%{
            bottom: 0;
            right: 0;       
        }
        25%{
            bottom: 0;
            right:92.5vw;
        }
        50%{
            bottom:94vh;
            right:92.5vw;
        }
        75%{
            bottom: 94.0vh;
            right: 0;
        }
        100%{
            bottom: 0;
            right: 0;
        }
    }
    /*header*/
header{
    height: 20vh;
    padding-left: 1rem;
    

}

header .slogans > h2{
    font-size: 3rem;
}


/*Main*/

.main{
    height: 20vh;
    
}
.main h2{
    padding-top: 1.4rem;
    padding-right: 1rem;
    font-size: 3rem;
}

/*Aside*/
aside{
    height: 47vh;
}

aside .way {
    grid-template-columns: 1fr 60px 1fr;
    grid-template-rows: 60px 12rem 60px;

}
aside .way .road{
    line-height: 60px;
}


aside .way .korsarz > p{
    font-size: 3rem; 
    padding-left: 1rem;
}

aside .way .strony{
    padding-top: 4.5vh;
     
}

aside .way .strony p{
    font-size: 3rem;   
    
}

aside .way .www{
    padding-left: 13vw;
}
aside .way .www p{    
    font-size: 3rem; 
    font-weight: bold;
}

aside .way .right{
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 2.5rem;
} 

aside .way .left{
    padding-top: 1rem;
    font-size: 3rem;
    
} 


aside .way .left .rotate{
    bottom: 6.2rem;
    right: -4rem;
    font-size: 2.1rem;
}
aside .way .left .down{
    font-size: 3rem;

}
aside .grab{
    padding-top: 3rem;   
}
aside .grab h2{
    line-height: 4rem;
    font-size: 3rem;
}


#big .baner{ 
    height: 38vh;    
}
#text {
    height: 100%;   
}



#text .need h3, #text .want h3{
  
    font-size: 5rem;
    line-height: 5rem;
    
    padding-top: 1.5rem;
}

#text .need p, #text .want p{
    
    line-height: 2.6rem;
    font-size: 2.5rem;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

/*footer*/

footer{
   
    line-height: 35px;
    
    font-size: 30px;
    
} 

}
@media (orientation: landscape) and (min-width: 520px){         
       
    
    @keyframes square{
        0%{
            top: 0;
            left: 0;       
        }
        25%{
            top: 0;
            left:92.4vw;
        }
        50%{
            top:89vh;
            left:92.4vw;
        }
        75%{
            top: 89vh;
            left: 0;
        }
        100%{
            top: 0;
            left: 0;
        }
    }
    @keyframes circle{
        0%{
            bottom: 0;
            right: 0;       
        }
        25%{
            bottom: 0;
            right:92.5vw;
        }
        50%{
            bottom:87.5vh;
            right:92.5vw;
        }
        75%{
            bottom: 87.5vh;
            right: 0;
        }
        100%{
            bottom: 0;
            right: 0;
        }
    }

    #big .baner{ 
        height: 58vh;    
        
    }
}
@media (orientation: landscape) and (min-width: 667px){
    @keyframes square{
        0%{
            top: 0;
            left: 0;       
        }
        25%{
            top: 0;
            left:94vw;
        }
        50%{
            top:89vh;
            left:94vw;
        }
        75%{
            top: 89vh;
            left: 0;
        }
        100%{
            top: 0;
            left: 0;
        }
    }
    @keyframes circle{
        0%{
            bottom: 0;
            right: 0;       
        }
        25%{
            bottom: 0;
            right:94vw;
        }
        50%{
            bottom:89vh;
            right:94vw;
        }
        75%{
            bottom: 89vh;
            right: 0;
        }
        100%{
            bottom: 0;
            right: 0;
        }
    }
}
@media (min-width:771px ){

body{
    padding: 60px;   
}
    

.square, .circle{        
    width: 59px;
    height: 59px;        
}    
@keyframes square{
    0%{
        top: 0;
        left: 0;       
    }
    25%{
        top: 0;
        left:91vw;
    }
    50%{
        top:91vh;
        left:91vw;
    }
    75%{
        top: 91vh;
        left: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}
@keyframes circle{
    0%{
        bottom: 0;
        right: 0;       
    }
    25%{
        bottom: 0;
        right:91vw;
    }
    50%{
        bottom:92vh;
        right:91vw;
    }
    75%{
        bottom: 92.0vh;
        right: 0;
    }
    100%{
        bottom: 0;
        right: 0;
    }
}
/*header*/
header{
    height: 35vh;        

}

header .slogans > h2{
    font-size: 3.1rem;
}


/*Main*/

.main{
    height: 35vh;
    
}
.main h2{
    
    font-size: 3.3rem;
}

/*Aside*/
aside{
    height: 82vh;
}
/***************************/
aside .way {
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: 80px 14rem 80px;

}
aside .way .road{
    line-height: 80px;
}


aside .way .korsarz > p{
    font-size: 3rem; 
    padding-left: 1rem;
}

aside .way .strony{
    padding-top: 7.5vh;
        
}

aside .way .strony p{
    font-size: 3rem;   
    
}

aside .way .www{
    padding-left: 13vw;
}
aside .way .www p{    
    font-size: 3rem; 
    font-weight: bold;
}

aside .way .right{
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 2.5rem;
} 

aside .way .left{
    padding-top: 1rem;
    font-size: 3rem;
    
} 


aside .way .left .rotate{
    bottom: 8.2rem;
    right: -4rem;
    font-size: 2.1rem;
}
aside .way .left .down{
    font-size: 3rem;

}
aside .grab{
    padding-top: 2rem; 
    padding-bottom: 1rem;
    margin-bottom: 1rem;  
}
aside .grab h2{
    line-height: 3rem;
    font-size: 3rem;
}
#big .baner{ 
    background-size: 60%;
}
#text {
    height: 100%;
    /* margin-top: 0;
    padding-top: 2rem; */
        
}



#text .need h3, #text .want h3{
    
    font-size: 4rem;
    /* line-height: 5rem;*/
    
    
}

#text .need p, #text .want p{
    
    line-height: 2.1rem;
    font-size: 1.8rem;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

/*footer*/

footer{
    
    line-height: 25px;
    
    font-size: 25px;
    
} 

}
@media (min-width:900px ){

           
    @keyframes square{
        0%{
            top: 0;
            left: 0;       
        }
        25%{
            top: 0;
            left:92vw;
        }
        50%{
            top:90vh;
            left:92vw;
        }
        75%{
            top: 90vh;
            left: 0;
        }
        100%{
            top: 0;
            left: 0;
        }
    }
    @keyframes circle{
        0%{
            bottom: 0;
            right: 0;       
        }
        25%{
            bottom: 0;
            right:92vw;
        }
        50%{
            bottom:90vh;
            right:92vw;
        }
        75%{
            bottom: 90.0vh;
            right: 0;
        }
        100%{
            bottom: 0;
            right: 0;
        }
    }
}
@media (min-width: 1030px ){

           
    @keyframes square{
        0%{
            top: 0;
            left: 0;       
        }
        25%{
            top: 0;
            left:93vw;
        }
        50%{
            top:89vh;
            left:93vw;
        }
        75%{
            top: 89vh;
            left: 0;
        }
        100%{
            top: 0;
            left: 0;
        }
    }
    @keyframes circle{
        0%{
            bottom: 0;
            right: 0;       
        }
        25%{
            bottom: 0;
            right:93vw;
        }
        50%{
            bottom:90vh;
            right:93vw;
        }
        75%{
            bottom: 90.0vh;
            right: 0;
        }
        100%{
            bottom: 0;
            right: 0;
        }
    }
}
@media (min-width: 1250px ){

           
    @keyframes square{
        0%{
            top: 0;
            left: 0;       
        }
        25%{
            top: 0;
            left:94vw;
        }
        50%{
            top:89vh;
            left:94vw;
        }
        75%{
            top: 89vh;
            left: 0;
        }
        100%{
            top: 0;
            left: 0;
        }
    }
    @keyframes circle{
        0%{
            bottom: 0;
            right: 0;       
        }
        25%{
            bottom: 0;
            right:94vw;
        }
        50%{
            bottom:90vh;
            right:94vw;
        }
        75%{
            bottom: 90.0vh;
            right: 0;
        }
        100%{
            bottom: 0;
            right: 0;
        }
    }
}

